@media screen and (min-width: 541px) {
    .div1 {
      width: 100%;  
    }
  
    .div2-3 {
      display: flex;
      flex-direction: row;
      gap: 10px; 
    }

    .div2 {
        width: 50%;
    }

    .div3 {
        width: 50%;
    }
}
  