@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap');


:root {
    --color-black: #1a1c19;
    --color-white: #ffffff;
    --color-beige: #e0d6c2;
    --color-beige-dark: #b5a38d;
    --color-orange: #976c54;
    --color-green: #8f8868;
    --color-green-dark: #343124;
    --color-brown: #342415;

    --h1-font-size: 2rem;
    --h2-font-size: 1.25;
    --h3-font-size: 1.125rem;
    --p-font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--color-black);
    padding: 10px;
}

/* navbar styling */
.navbar {
    height: 56px;
    border: 1px solid var(--color-beige);
    border-radius: 28px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav--name {
    height: 48px;
    background-color: var(--color-green-dark);
    border-radius: 28px;
    flex: 1;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

.name {
    font-family: 'Inter', sans-serif;
    color: var(--color-beige);
    font-size: var(--p-font-size);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav--btn {
    color: var(--color-beige);
    height: 48px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-beige);
    border-radius: 28px;
    text-decoration: none;
    transition: all .1s ease-in-out;
}

.menu--btn {
    font-family: 'Inter', sans-serif;
    font-size: var(--p-font-size);
    letter-spacing: 1px;
}

.nav--btn:hover {
    background-color: var(--color-beige);
    color: var(--color-black);
}

/* header styling */
.header {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* museum div styling */
.div--museum {
    background-color: var(--color-beige);
    border-radius: 32px;
}

.museum--img {
    margin: 0 10px;
    align-items: center;
    border-radius: 18px;
    height: 240px;
    background-image: url(/public/images/museum1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    padding: 25px 25px 0 25px;
    color: var(--color-brown);
    font-size: var(--p-font-size);
    font-family: 'Inter', sans-serif;
}

.description span {
    font-size: .8rem;
}

.link--btn {
    background-color: rgb(218, 90, 90);
    border: none;
    border-radius: 14px;
    padding: 10px 20px;
    cursor: pointer;
}

/* div1 styling */
.div1 {
    background-color: var(--color-green);
    border-radius: 32px;
    margin-top: 10px;
}

.div--title {
    padding: 25px;
}

.label {
    font-family: 'Inter', sans-serif;
    color: var(--color-brown);
    font-size: var(--h2-font-size);
    font-weight: 400;
    border: 1px solid var(--color-brown);
    border-radius: 14px;
    padding: 2px 5px;
    display: inline-block;
}

.painting--name {
    font-family: 'Arsenal', sans-serif;
    color: var(--color-brown);
    font-size: var(--h1-font-size);
    margin-top: 15px;
}

.div--img1 {
    margin: 0 10px;
    align-items: center;
    border-radius: 18px;
    height: 240px;
    background-image: url(/public/images/painting1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div--link {
    padding: 25px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: .1px solid var(--color-brown);
    font-family: 'Inter', sans-serif;
    color: var(--color-brown);
}

.div--link a {
    color: var(--color-brown);
    font-size: 1.75rem;
}

/* div2 styling */
.div2 {
    background-color: var(--color-orange);
    border-radius: 32px;
    margin-top: 10px;
}

.div--img2 {
    margin: 0 10px;
    align-items: center;
    border-radius: 18px;
    height: 240px;
    background-image: url(/public/images/painting2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
